@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  background-color: rgba(50, 2, 2, 0.82);
  position: fixed;
  width: 100%;
  z-index: 16;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  max-height: 70px;
}

.header__logo {
  position: relative;
  font-size: 23px;
  padding: 7px 15px;
  border-radius: 50px;
  color: #f7f7f7;
  font-weight: 700;
  z-index: 15;
  overflow: hidden;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__logo span {
  color: #e20505;
}

.header__logo::before {
  content: "";
  width: 20px;
  height: 110%;
  position: absolute;
  top: 0%;
  left: -30%;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  background-color: rgba(255, 255, 255, 0.925);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 6px 10px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item:not(:last-child) {
  margin-right: 25px;
}

.menu__link {
  font-size: 18px;
  color: #e7dcdc;
  font-weight: 700;
  z-index: 8;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #342323;
}

.footer__body {
  padding-top: 25px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.footer__year {
  color: #ffffff;
  font-size: 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: block;
  height: auto;
}

.img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.no-webp .body-page{
  background: url("../img/fon1.jpg") center/cover no-repeat; }

.body-page {
  position: relative;
}

.body-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 74, 74, 0.3);
}

.body-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.body-page__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.body-page__aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  background-color: rgba(52, 35, 35, 0.8);
  -webkit-box-shadow: 0px 0px 120px #974952;
          box-shadow: 0px 0px 120px #974952;
  border-radius: 10px;
  padding: 50px 30px 40px 30px;
}

.tit {
  font-size: 22px;
  font-weight: 700;
  color: #ffd000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tit::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #ffd000;
  margin: 0px 10px 0px 0px;
}

.tit::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #ffd000;
  margin: 0px 0px 0px 10px;
}

.tit:not(:last-child) {
  margin-bottom: 25px;
}

.tit2 {
  font-size: 20px;
  font-weight: 700;
  color: #ffd000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.tit2::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #ffd000;
  margin: 0px 10px 0px 0px;
}

.tit2::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #ffd000;
  margin: 0px 0px 0px 10px;
}

.tit2:not(:last-child) {
  margin-bottom: 25px;
}

.tex {
  font-size: 19px;
  font-weight: 400;
  color: #faf5f5;
}

.tex p:not(:last-child) {
  margin-bottom: 10px;
}

.html {
  color: red;
}

.css {
  color: blue;
}

.js {
  color: yellow;
}

.no-webp .main-page{
  background: url("../img/fon.jpg") center/cover no-repeat; }

.main-page {
  padding-top: 45px;
  position: relative;
}

.main-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 74, 74, 0.2);
}

.main-page__body {
  margin: 60px 0px 0px 0px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  position: relative;
}

.main-page__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.main-page__name {
  font-size: 24px;
  font-weight: 700;
  color: #faf5f5;
}

.main-page__name:not(:last-child) {
  margin-bottom: 20px;
}

.main-page__name span {
  color: #ffd000;
}

.main-page__profession {
  font-size: 20px;
  font-weight: 500;
  color: #faf5f5;
}

.main-page__foto img {
  border-radius: 10px;
  width: 100%;
}

.about-page__body {
  z-index: 5;
  position: relative;
  padding-top: 55px;
  padding-bottom: 40px;
}

.education-page__body {
  z-index: 5;
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
}

.education-page__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education-page__text::before {
  content: "";
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: #ffd000;
  margin: 0px 10px 0px 0px;
}

.skills-page__body {
  z-index: 5;
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
}

.skills-page__text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.skills-page__text li::before {
  content: "";
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: #ffd000;
  margin: 0px 10px 0px 0px;
}

.projects-page__body {
  z-index: 5;
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
}

.projects-page__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}

.item-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.item-project__image {
  width: 100%;
  height: 210px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-project__image:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-project__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.about-project__name {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.about-project__about {
  font-size: 16px;
  font-weight: 600;
}

.contacts-page {
  padding-bottom: 30px;
}

.contacts-page__body {
  position: relative;
  z-index: 5;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.contact-item:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.contact-item__phone {
  font-size: 20px;
  font-weight: 600;
  color: #faf5f5;
}

.contact-item__email {
  font-size: 20px;
  font-weight: 600;
  color: #faf5f5;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.social-icon__telegram {
  width: 50px;
  height: 50px;
}

.social-icon__viber {
  width: 50px;
  height: 50px;
}

.social-icon__whats {
  width: 50px;
  height: 50px;
}

.languages-page {
  padding-top: 30px;
  padding-bottom: 30px;
}

.languages-page__body {
  position: relative;
  z-index: 5;
}

.language-item__text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.language-item__text li::before {
  content: "";
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: #ffd000;
  margin: 0px 10px 0px 0px;
}

.strengths-page {
  padding-top: 30px;
  padding-bottom: 30px;
}

.strengths-page__body {
  position: relative;
  z-index: 5;
  border-bottom: 3px solid #ffd000;
}

.strength-item {
  margin: 0px 0px 45px 0px;
}

.strength-item__text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.strength-item__text li::before {
  content: "";
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: #ffd000;
  margin: 0px 10px 0px 0px;
}

@media (min-width: 767.98px) {
  .main-page__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-page__name::before {
    content: "";
    width: 60px;
    height: 2px;
    background-color: #ffd000;
    margin: 0px 10px 0px 0px;
  }

  .main-page__profession {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-page__profession::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: #ffd000;
    margin: 0px 0px 0px 10px;
  }
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1170px) {
  .menu__item:not(:last-child) {
    margin-right: calc(10px + 15 * ((100vw - 320px) / 850));
  }

  .menu__link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }

  .footer__body {
    gap: calc(15px + 25 * ((100vw - 320px) / 850));
  }

  .footer__year {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }

  .tit {
    font-size: calc(15px + 7 * ((100vw - 320px) / 850));
  }

  .tit:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }

  .tit2 {
    font-size: calc(14px + 6 * ((100vw - 320px) / 850));
  }

  .tit2:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }

  .tex {
    font-size: calc(13px + 6 * ((100vw - 320px) / 850));
  }

  .main-page__body {
    padding-bottom: calc(30px + 10 * ((100vw - 320px) / 850));
  }

  .main-page__name {
    font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  }

  .main-page__name:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 850));
  }

  .main-page__profession {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }

  .about-page__body {
    padding-top: calc(35px + 20 * ((100vw - 320px) / 850));
  }

  .about-page__body {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / 850));
  }

  .education-page__body {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 850));
  }

  .education-page__body {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / 850));
  }

  .skills-page__body {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 850));
  }

  .skills-page__body {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / 850));
  }

  .projects-page__body {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 850));
  }

  .projects-page__body {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / 850));
  }

  .projects-page__content {
    gap: calc(15px + 5 * ((100vw - 320px) / 850));
  }

  .about-project__name {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }

  .about-project__about {
    font-size: calc(13px + 3 * ((100vw - 320px) / 850));
  }

  .contacts-page {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 850));
  }

  .contact-item {
    gap: calc(10px + 10 * ((100vw - 320px) / 850));
  }

  .contact-item__phone {
    font-size: calc(14px + 6 * ((100vw - 320px) / 850));
  }

  .contact-item__email {
    font-size: calc(14px + 6 * ((100vw - 320px) / 850));
  }

  .social-icon {
    gap: calc(20px + 15 * ((100vw - 320px) / 850));
  }

  .languages-page {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 850));
  }

  .languages-page {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 850));
  }

  .strengths-page {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 850));
  }

  .strengths-page {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .body-page__aside {
    padding: 50px 20px 40px 20px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -100%;
    left: 0;
    overflow: auto;
    padding: 90px 0px 0px 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 10;
    background-color: rgba(248, 248, 248, 0.1);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
  }

  .menu__body._active {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }

  .menu__link {
    color: #fdfdfd;
    font-size: 21px;
    font-weight: 700;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 20;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    right: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 45%;
    background-color: #f8f5f5;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: 16px;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    top: 8px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .body-page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-page__aside {
    margin: 0px 0px 30px 0px;
  }

  .main-page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-page__content:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .main-page__name {
    text-align: center;
  }

  .main-page__profession {
    text-align: center;
  }
}

@media (max-width: 479.98px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__year {
    text-align: center;
  }

  .body-page__aside {
    padding: 40px 20px 20px 20px;
  }
}

@media (any-hover: hover) {
  .header__logo:hover {
    -webkit-box-shadow: 0px 0px 15px #c0b6b6;
            box-shadow: 0px 0px 15px #c0b6b6;
  }

  .header__logo:hover::before {
    left: 120%;
    opacity: 1;
  }

  .menu__item:hover {
    -webkit-box-shadow: 0px 0px 5px #e4dddd;
            box-shadow: 0px 0px 5px #e4dddd;
  }

  .item-project .about-project {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .item-project:hover .about-project {
    opacity: 1;
    overflow: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 41, 41, 0.5);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .item-project:hover .about-project__name {
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 30px;
  }
}

.webp .body-page{ background: url(../img/fon1.webp) center/cover no-repeat; }

.webp .main-page{ background: url(../img/fon.webp) center/cover no-repeat; }